{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_content %}
    <div class="content">
        <h4> ¡Bienvenido al sistema central de Administración de BINES!</h4>

        <div class="alert alert-danger">
            Recuerde que un cambio en un rango de Bines de manera inadecuada puede afectar el funcionamiento de sus proyectos.
        </div>
        <br>
        <p>Documentación y uso de la API (Puede ser accedida en este punto)</p>
        <p>Las llamadas a la API se hacen de este modo a través del nombre de servicio de la aplicación (no esta expuesta a internet)</p>
        <pre>
curl -H  "accept: application/vnd.api+json" -H "country: AR" "http://bin-lookup-service/v1/find/45717360"
        </pre>
        <p>La documentación de la API via contrato de OpenAPI <a rel="stylesheet" href="http://api-bin-lookup-service.dev.equationlabs.io/docs">puede ser accedida acá</a></p>
    </div>

{% endblock %}